@import "options";
@import "mixins";


/* Inline */
@import "smacss/base/normalize";
@import "smacss/base/base-inline";


/* Layout */
@import "smacss/layout/grid";
@import "smacss/layout/default-grid"; 
@import "smacss/layout/css-grid"; 
@import "smacss/layout/grid-padding"; 
@import "smacss/layout/mobile-grid"; 
@import "smacss/layout/square-block";
@import "smacss/layout/center-block";
@import "smacss/layout/clear";

/* Modules */
@import "smacss/modules/menu-inline";
@import "smacss/modules/buttons";
@import "smacss/modules/buttons-ghost";
@import "smacss/modules/buttons-flat";
@import "smacss/modules/breadcrumbs";
@import "smacss/modules/alert";
@import "smacss/modules/icons";
@import "smacss/modules/images";
@import "smacss/modules/tables";
@import "smacss/modules/cover-image";

@import "smacss/modules/featherlight-caption";



/* States */
@import "smacss/states/states-inline";

/* Theme Inline */

$shadow: #555;

html {
	scroll-behavior: smooth;
}

body{
	background: #efefef;
}

//menu

nav {overflow: hidden;}

.menucol6 {
	float: left;
	display: flex;
	box-sizing: border-box;
	width: 80%;
	h1 {
		font-size: 1.25rem;
		line-height: 1.5rem;
		display: inline-block;
		font-weight: bold;
	}
	
}

.logo {
	display: block;
	float: left;
	img {
		max-height: 5rem;
		max-width: 5rem;
	}
}


.mobile-menu {
		float: left;
		display: block;
		box-sizing: border-box;
		width: 20%;

		line-height: 5rem !important;

}

.menucolfull {
	display: block;
	float: left;
	padding: 0;
	box-sizing: border-box;
} 



.header {
	&__left {
		display: flex;
		padding: 0;
		vertical-align: middle;
		align-items: center;
	}
	
	h1 {
		font-size: 1.5rem;
		margin: 0 0 0 1rem;
		//font-weight: bold;
		
	}
}

.nav-icon {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: .5rem;
	fill: color(links);
}

.teaser {
	width: 100%;
	//height: 100vh;
	//background: #ccc;
	
	
	.wrapper {
		padding-top: 6rem; 
	}
	&__image{
		text-align: center;
		img {
                  width: 100%;
                  object-fit: contain;
            }
	}

}

.grid3 {
	div {
		border: 1px #ccc solid;		
	}	
}

.cards {
	display: block;
	position: relative;
	padding: 0;
	text-align: center;
	
	.card {
		position: relative;
		width: 100%;
		box-sizing: border-box;
		margin: 1rem 0%;
		display: inline-block;
		height: 20rem;
		background: #ccc;
		border-radius: .5rem;
		box-shadow: .25rem .25rem .5rem rgba(.3, .3, .3, .15);
		background-size: cover;
		background-position: center center;
		overflow: hidden;
		padding: 0;
		
		&:hover {
			transform: translate(.15rem, .15rem);
			box-shadow: .1rem .1rem .1rem rgba(.3, .3, .3, .15);
		}
		a {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.grad {
			
			display: block;
			position: absolute;
			width: 100%;
			height: 50%;
			bottom: 0;
			margin: 0 !important;
			background: linear-gradient(0deg, rgba(128,128,128,1) 0%, rgba(128,128,128,1) 35%, rgba(128,128,128,0) 100%);
			display: flex;
			align-items: flex-end;
			padding: 1rem;
			box-sizing: border-box;
			color: #fff !important;
			line-height: 1.5rem;
			text-align: center;
			justify-items: center;
			h3 {
				font-size: 1.25rem;
				margin: 0 auto;
				display: block;
			}
		}


	}



}


.form, .cards {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	h2 {
		text-align: center;
	}
}



@media only screen and (min-width:768px) {
	.menucol6 {
		float: left;
		width: 120px;
		position: relative;
		h1 {
			position: absolute;
			top: 1rem;
			left: 7rem;
			width: 400px;
		}
	}
	.menucolfull {
		float: left;
		
		ul {
			white-space: nowrap;
			transform: translateY(1rem);
		}
	}
	.logo {
		display: block;
		img {
			height: 6rem;
			max-height: 6rem;
			max-width: 6rem;
		}
	}
	.header {
		&__menu {
			padding: .8rem 1rem .8rem 0;
		}
		h1 {
			font-weight: normal;
			margin-left: 2rem;
		}
	}
	.cards {
		.card {
			width: 30%;
			margin: 1rem 1.5%;
		}
	}
}

.sponsor {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	margin-bottom: 2.5rem;
	p {
		font-style: italic;
		font-size: .8rem;
		margin-bottom: 0;
	}
	
	img {
		width: 10rem;
	}
}

#sponsor {
	width: 100%;
	background: #fff;
	box-shadow: .25rem .25rem .5rem rgba(.3, .3, .3, .15);
	padding: 4rem 0;
}


@media only screen and (min-width:768px) {
	.front-menu {
		.header__left {
			display: none;
		}
	}
	
}

@media only screen and (min-width:980px) {
	.menucol6 {

		h1 {

			left: 6rem;

		}
	}
}

@media only screen and (min-width:1280px) {
	.menucol6 {
		float: left;
		width: 40%;
		h1 {
			position: relative;
			display: block;
			top: 0;
			left: 0;
		}
	}
	.menucolfull {
		float: right;

		ul {
			transform: translateY(0rem);
		}
	}
}