@import "options";
@import "mixins";

/* base */
//@import "smacss/base/normalize";
@import "smacss/base/base";

/* layout */
@import "smacss/layout/layout";


/* modules */
@import "smacss/modules/menu";
@import "smacss/modules/pagination";
@import "smacss/modules/forms";
@import "smacss/modules/meta-tags";
@import "smacss/modules/accordeon";
@import "smacss/modules/print-styles";

@import "smacss/modules/plugins/featherlight.gallery.scss";
@import "smacss/modules/plugins/featherlight.scss";

/* states */
@import "smacss/states/helper-classes";
@import "smacss/states/fade-in-viewport";

/* theme */


body, html {
      scroll-behavior: smooth;      
}

.teaser {
      background: #efefef;
}

.mainmenu {
      display: none;
}

.intro {
      position: relative;
      width: 100%;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__bg {
            display: none;
      }

      &__shadow {
            display: none;
      }
      
      &__copyright {
            display: none;
      }

      &__logo {
            display: none;
            
      }

      
}

.frontpage {
      .news {
            text-align: center;
      
            &__items {
                  padding: 0 1rem 1rem 1rem;
                  display: flex;
                  flex-direction: column;
                  text-align: left;
                  gap: 1rem;
                  margin-bottom: 1rem;
            }
      
            .item {
                  flex: 1;
            }
      }
      
      .banners {
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 10;
            gap: 1rem;
            padding: 1rem;
            align-items: center;
            
            &__card {
                  padding: 1rem;
                  flex: 1;
                  border-radius: .25rem;
                  background-color: rgba(255,255,255,.8);
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 1rem;
                  font-weight: bold;
                  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
                  width: calc(100% - 2rem);
                  max-width: 550px;
                  justify-content: center;
      
                  img {
                        position: relative;
                        max-height: 5rem;
                        width: auto;
                  }
            }
      
            a {
                  cursor: pointer;
                  display: flex;
            }
      
      }
}


.page {
      
      min-height: 80vh;
      box-sizing: border-box;    
      #workscategory {
            padding-top: 7rem;
            min-height: 75vh;
      }  
}

input, textarea, select {
	margin-bottom: 1.5rem;
	margin-top: .5rem;
	display: inline-block;
}

input[type="checkbox"] {
	display: inline-block;
      margin: 0 .5rem 0 0;
      transform: translateY(-0.1rem);
      line-height: 2rem;
      	
}

label {
	margin-bottom: .5rem;
	line-height: 1rem;
	
}

input[type="submit"] {
      
	display: block;
      margin: 2rem auto !important;
      
      	
}

nav {
      box-shadow: .25rem .25rem .5rem rgba(.3, .3, .3, .15);
}

footer {
      background: #fff;
      border-top: 1px #ccc solid;
      text-align: center;
}


.design {
      text-align: center;
      a {
            text-decoration: none;
            color: color(txt);
            span {
                  color: color(links);
                  text-decoration: underline;
            }
            &:hover  {
                  span {
                        color: color(hover); 
                  }
            }
      }
}

.sticky-header {
      @include transit();
      top: 0;
}

.is-hidden {
	//position: absolute;
	top: -7rem;
}

.front-menu {
      .header__menu {
            ul {
                  text-align: center;
                  li {
                        padding-left: .75rem;
                        padding-right: .75rem;
                        a {
                              line-height: 3rem !important;
                        }
                  }
            }
      }
}

.contest-menu {
      ul {
            text-align: left;
            li {
                  a {
                        padding: 0;
                        margin-right: 1rem;
                  }
            }
      }
}

.meta-terms {
      padding-left: 0;
      list-style: none;
      li {
            a {
                  display: block;
                  &::first-letter {
                        text-transform: uppercase;
                  }

                  &:after {
                        content: ";";
                        position: relative;
                  }

                  
            }
            &:last-child {
                  a {
                        &:after {
                              content: ".";
                              position: relative;
                        }
                  }
                   
            }
      }
}

@media only screen and (min-width:768px) {
      .intro {
            min-height: 100vh;

            &__logo {
                  display: block;
                  text-align: center;
                  z-index: 10;
                  margin-bottom: 25vh;

                  img {
                        border-radius: .25rem;
                  }
                  h1 {
                        font-size: 2rem;
                        line-height: 3rem;
                        text-shadow: 1px 1px 20px rgba(255,255,255,1), 1px 1px 3px rgba(255,255,255,.7), -1px -1px 3px rgba(255,255,255,.7);

                        b {
                              font-size: 2.5rem;
                        }
                  }
            }

            &__bg {
                  position: absolute;
                  display: block;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  background-size: cover;
                  background-position: 50% 50%;
                  background-repeat: no-repeat;
                  background-image: url('../img/pervogorod.gif');
                  mix-blend-mode: multiply;
            }
      
            &__shadow {
                  position: absolute;
                  width: 100%;
                  height: 30%;
                  bottom: 0;
                  left: 0;
                  display: block;
                  background: linear-gradient(0deg, rgba(239,239,239,1) 0%, rgba(239,239,239,0) 100%);
            }

            &__copyright {
                  display: block;
                  position: absolute;
                  font-size: .8rem;
                  color: #999;
                  transform: rotate(-90deg);
                  top: 11rem;
                  right: -4rem;
            }

            &__banners {
                  flex-direction: row;
            }
      }
}

@media only screen and (min-width:980px) {

      .mainmenu {
            display: block;
            
            ul {
                  list-style: none;
                  padding: 0;
                  display: flex;
                  gap: 2.5rem;
                  justify-content: center;
                  align-items: center;
                  height: 5rem;
                  margin: 0;
                  li {
                        margin:0;
                        padding: 0;
                        height: 3rem;
                        a {
                              line-height: 3rem;
                              display: block;
                              height: 3rem;
                              color: #111;
                              font-weight: bold;
                              text-decoration: none;
                        }
                  }
            }
      }

      .hide-on-front {
            display: none;
      }

      

      .frontpage {
            .news {
                  &__items {
                        flex-direction: row;
                        justify-content: center;
                  }

                  &__item {
                        max-width: 33%;
                  }
            }
      }      

      footer {
            .copyright {
                  text-align: left;
            }
            .design {
                  text-align: right;
            }
      }

}

.cards {
      background: #efefef;

      &__year {
            font-size: 1.25rem;
            margin-top: 1.25rem;
      }
}

.card {
      @include transit(all, 0.25s, ease-in-out, 0s);
      
}

.single {
      &__details {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__block {
                  position: relative;
                  margin-bottom: 1rem;
                  text-align: center;
                  img {
                        position: relative;
                        object-fit: contain;
                        margin-bottom: .5rem;
                        max-height: 8rem;
                  }
            }
      }
      &__content {
            img, iframe {
                  display: block; 
                  max-width: 100%;                 
                  margin: 0 auto 1rem auto;
            }
      }

      &__date {
            font-size: .8rem;
            color: #999;
            margin-bottom: .8rem;

            a {
                  display: inline-block;
                  background: #111;
                  border-radius: 4px;
                  text-decoration: none;
                  padding: 0 .25rem;
                  color: #fff;

                  &:hover {
                        background: #999;
                  }

                  &:first-child {
                        margin-left: 1rem;
                  }
            }
      }      
}

.page {
      background: #efefef;
      min-height: 100vh;
}

.gray {
      background: #efefef;
}

#workscategory {
      padding: 1rem 1rem 0 1rem; 
      h2:first-letter {
            text-transform: uppercase;
      }
}

.navigation {
      display: flex;
      flex-direction: row;
      .prev {
            flex: 1;
      }
      .next {
            flex: 1;
            text-align: right;
      }
}

#works, #special {
      .card {
            filter: grayscale(100%); 
      }
}



.win {


      .grad {

            background: linear-gradient(0deg, rgba(191, 39, 47,1) 0%, rgba(191, 39, 47,.75) 15%, rgba(191, 39, 47,0) 100%) !important;

      }


}

.url {
      word-break: break-all;
}

.jury {
      h2 {
            text-align: center;
      }
}

.menu {
      .current-menu-item {
            a {
                  color: #bf272f;
            }
      }
}

@media only screen and (min-width:1024px) {
      .jury {
            max-width: 1280px;
            margin: 0 auto;
      }
}

.project-archive {
      h3 {
            margin-top: 5rem;
            &:first-letter {
                  text-transform: uppercase;
            }
      }
}

#filters {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: .5rem;

      #nomination {
            width: 300px;
            height: 43px;
            margin-top: 0;
            margin-bottom: 0;
      }

      #year {
            width: 120px;
            height: 43px;
            margin-top: 0;
            margin-bottom: 0;
      }

      button {
            margin-bottom: 0 !important;
            line-height: 43px;
      }
}

@media (min-width:980px) {
      #filters {
            #nomination {
                  width: 42ти 0px;
                  height: 50px;
            }

            #year {
                  height: 50px;
            }
            button {
                  line-height: 50px;
            }
      }
}