<!-- build:theme --><?php get_header();?>
<!-- endbuild -->
<!-- build:html -->@@include('./header.html')
<!-- endbuild -->

<div class="error404"
    style="min-height: 80vh; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 0 16px; box-sizing: border-box;">
    <h1>Ошибка 404</h1>
    <p style="text-align: center;">Страница не найдена. Попробуйте перейти <a href="/"
            title="На главную">на&nbsp;главную</a>.</p>
</div>


<!-- build:theme -->
<?php get_footer(); // Подключаем футер ?>
<!-- endbuild -->

<!-- build:html -->
@@include('./footer.html')
<!-- endbuild -->