<!-- build:theme --><?php get_header();?>
<!-- endbuild -->
<!-- build:html -->@@include('./header.html')
<!-- endbuild -->


<div class="frontpage">

    <div class="gray">
        <div class="intro">
            <div class="intro__bg"></div>
            <div class="intro__shadow"></div>
            <div class="intro__copyright">Графика: Колесников Д. В.</div>
            <div class="intro__logo">
                <?php if (have_posts()) : while (have_posts()) : the_post(); // Цикл записей ?>
                <img src="wp-content/themes/arch/img/arch-perm-logo.png" alt="<?php the_title(); ?>">
                <h1><?php the_field('подзаголовок');  ?><br /><b><?php the_title(); ?></b></h1>
                <?php endwhile;  endif;  ?>
            </div>
        </div>

        <div class="news">
            <div class="wrapper">
                <h2>Новости</h2>
                <div class="news__items">
                    <!-- build:theme -->
                    <?php
                    $args = array(
                    'posts_per_page' => 3,
                    'post_type' => 'news',
                    );
                    $query = new WP_Query( $args ); ?>

                    <?php if ( $query->have_posts() ) : ?>
                    <?php while ( $query->have_posts() ) : $query->the_post(); ?>
                    <div class="news__item item">
                        <h3><a href="<?php the_permalink(); ?>"><?php the_title(); ?></a></h3>
                        <div class="single__date">
                            <?php the_time('F j, Y'); // Дата создания поста ?>
                        </div>
                        <div class="item__text">
                            <?php the_excerpt(); ?>
                        </div>
                    </div>

                    <?php endwhile; // Конец цикла.
                    else: echo '<h2>Извините, Новостей нет...</h2>'; endif; // Если записей нет - извиняемся ?>
                    <!-- endbuild -->
                    <!-- build:html -->
                    <div class="news__item item">
                        <h3><a href="">Заголовок новости 1</a></h3>
                        <div class="single__date">
                            25.03.2020
                        </div>
                        <div class="item__text">
                            Идейные соображения высшего порядка, а также новая модель организационной деятельности
                            позволяет
                            оценить значение соответствующий условий активизации.
                        </div>
                    </div>
                    <!-- endbuild -->
                </div>
                <a href="/news/">Все новости</a>
            </div>

        </div>
        <div class="wrapper">
            <div class="banners">


                <a href="<?php the_permalink(523); ?>" class="banners__card fest">
                    <?php echo get_the_post_thumbnail( 523, 'thumbnail'); ?>
                    <?php echo get_the_title(523); ?></a>
                <div class="banners__card knauf"><img src="wp-content/themes/arch/img/knauf.svg" alt="Knauf">Генеральный
                    партнёр «Союза архитекторов»</div>


            </div>
        </div>

    </div>
</div>



<!-- build:theme -->
<?php get_footer(); // Подключаем футер ?>
<!-- endbuild -->

<!-- build:html -->
@@include('./footer.html')
<!-- endbuild -->