<!-- build:theme --><?php get_header();?><!-- endbuild --><!-- build:html -->@@include('./header.html')<!-- endbuild -->


<!-- build:theme -->
<?php if (have_posts()) : while (have_posts()) : the_post(); // Цикл записей ?>
<h3><a href="<?php the_permalink(); ?>"><?php the_title(); ?></a></h3><!-- Заголовок поста + ссылка на него -->
<?php the_time('F j, Y'); // Дата создания поста ?>
<?php if ( has_post_thumbnail() ) { the_post_thumbnail(); } // Проверяем наличие миниатюры, если есть показываем ?>
<?php the_content(''); // Выводим анонс ?>
<?php endwhile; // Конец цикла.
else: echo '<h2>Извините, ничего не найдено...</h2>'; endif; // Если записей нет - извиняемся ?>	 
<?php // Пагинация
global $wp_query;
$big = 999999999;
echo paginate_links( array(
	'base' => str_replace( $big, '%#%', esc_url( get_pagenum_link( $big ) ) ),
	'format' => '?paged=%#%',
	'current' => max( 1, get_query_var('paged') ),
	'type' => 'list',
	'prev_text'    => __('« Сюда'), 
    'next_text'    => __('Туда »'),
	'total' => $wp_query->max_num_pages
) );
?>
<!-- endbuild -->

<!-- build:html -->
<div class="teaser" id="about">
    <div class="wrapper">
        <div class="col5 teaser__image colRight">
            <img src="wp-content/themes/arch/img/XXI.png"/>
            <h3 >6-й фестиваль «Пермь XXI век»</h3>
        </div> 
        <div class="col7"><h2>Уважаемые коллеги!</h2>
            <p>Мы создаём сайт, который должен аккумулировать лучшие проекты и постройки, созданные благодаря Вашему профессионализму и градостроительному видению!</p>
            <p>Я уверен, что пройдёт сложный период связанный с короновирусом и как следствие с&nbsp;экономическим спадом.</p>
            <p>Мы вернёмся к&nbsp;активному по настоящему архитектурному проектированию, в&nbsp;результате которого наш любимый город станет привлекательным, уютным для проживания. </p>
                <p>Надеюсь наши инициативы в&nbsp;корректировке генерального плана, правил землепользования и&nbsp;застройки города Перми станут основой преобразования города в&nbsp;один из&nbsp;красивейших и&nbsp;комфортных городов России.</p>
                    <p>Уверен, что мы&nbsp;встретим 300 летний юбилей города реализацией в&nbsp;том числе Ваших проектов!</p>

                    <p style="text-align: left; font-size: .8rem;"><i>Председатель правления ПКОО «СА»<br /> Воженников В.А.</i></p>

                    
        </div>
         
    </div>
</div>

<div id="sponsor" class="sponsor">
    <a href="https://www.knauf.ru/"><img src="wp-content/themes/arch/img/knauf.svg" alt="knauf"/></a><p>Генеральный партнёр «Союза архитекторов»</p> 
</div>

<div class="wrapper">
    
    
    <div class="cards"  id="works">
        <h2>Работы участников</h2>
        <div class="card" style="background-image: url('wp-content/themes/arch/img/daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');">
            <a href="">
                <h3>
                    лучший проект общественного здания
                </h3>
            </a>
        </div>
        <div class="card" style="background-image: url('wp-content/themes/arch/img/daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');">
            <a href="">
                <h3>
                    лучший проект жилого здания
                </h3>
            </a>
        </div><div class="card" style="background-image: url('wp-content/themes/arch/img/daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');">
            <a href="">
                <h3>
                    лучший проект общественного пространства
                </h3>
            </a>
        </div><div class="card" style="background-image: url('wp-content/themes/arch/img/daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');">
            <a href="">
                <h3>
                    лучший реализованный проект общественного здания
                </h3>
            </a>
        </div><div class="card" style="background-image: url('wp-content/themes/arch/img/daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');">
            <a href="">
                <h3>
                    лучший реализованный проект жилого здания
                </h3>
            </a>
        </div><div class="card" style="background-image: url('wp-content/themes/arch/img/daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');">
            <a href="">
                <h3>
                    лучший реализованный проект общественного пространства
                </h3>
            </a>
        </div>
        <div class="card" style="background-image: url('wp-content/themes/arch/img/daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');">
            <a href="">
                <h3>
                    лучший студенческий архитектурный проект
                </h3>
            </a>
        </div>
        
        
    </div>
    <div class="cards" style="padding-top: 0">  
        <h3>Специальная номинация</h3>
        <div class="card" style="background-image: url('wp-content/themes/arch/img/daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');">
            <a href="">
                <h3>
                    лучший проект с материалами «Кнауф»
                </h3>
            </a>
        </div>
    </div>
    

    <div class="cards"  id="winners">
        <h2>Работы победителей</h2>
        <div class="card" style="background-image: url('wp-content/themes/arch/img/daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');">
            <a href="">
                <h3>
                    лучший проект общественного здания
                </h3>
            </a>
        </div>
        <div class="card" style="background-image: url('wp-content/themes/arch/img/daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');">
            <a href="">
                <h3>
                    лучший проект жилого здания
                </h3>
            </a>
        </div><div class="card" style="background-image: url('wp-content/themes/arch/img/daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');">
            <a href="">
                <h3>
                    лучший проект общественного пространства
                </h3>
            </a>
        </div><div class="card" style="background-image: url('wp-content/themes/arch/img/daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');">
            <a href="">
                <h3>
                    лучший реализованный проект общественного здания
                </h3>
            </a>
        </div><div class="card" style="background-image: url('wp-content/themes/arch/img/daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');">
            <a href="">
                <h3>
                    лучший реализованный проект жилого здания
                </h3>
            </a>
        </div><div class="card" style="background-image: url('wp-content/themes/arch/img/daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');">
            <a href="">
                <h3>
                    лучший реализованный проект общественного пространства
                </h3>
            </a>
        </div><div class="card" style="background-image: url('wp-content/themes/arch/img/daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');">
            <a href="">
                <h3>
                    лучший студенческий архитектурный проект
                </h3>
            </a>
        </div>
    </div>  
    <div class="cards" style="padding-top: 0">  
        <h3>Специальная номинация</h3>
        <div class="card" style="background-image: url('wp-content/themes/arch/img/daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');">
            <a href="">
                <h3>
                    лучший проект с материалами «Кнауф»
                </h3>
            </a>
        </div>
    </div>

    <div class="form"  id="form">
        <h2>Подать заявку</h2>
        <div class="col6 centered">
            <form action="">
                <label for="nomination">Номинация</label>
                <select name="nomination" id="">
                    <option>лучший проект общественного здания</option>
                    <option>лучший проект жилого здания</option>
                    <option>лучший проект общественного пространства</option>
                    <option>лучший реализованный проект общественного здания</option>
                    <option>лучший реализованный проект жилого здания</option>
                    <option>лучший реализованный проект общественного пространства</option>
                    <option>лучший студенческий архитектурный проект</option>
                    <option>лучший проект с материалами «Кнауф»</option>

                </select>

                <label for="project_short">Краткое описание проекта</label>
                <textarea name="project_short" id="" cols="30" rows="10"></textarea>

                <label for="applicant_site">Сайт заявителя</label>
                <input type="text" name="applicant_site">

                <label for="applicant_logo">Лого заявителя (до 1Mb)</label>
                <input type="file" name="applicant_logo">

                <label for="applicant_name">ФИО специалиста, ответственного за подачу заявки</label>
                <input type="text" name="applicant_name">

                <label for="applicant_role">Должность специалиста, ответственного за подачу заявки</label>
                <input type="text" name="applicant_role">

                <label for="applicant_email">Электронный адрес специалиста, ответственного за подачу заявки</label>
                <input type="email" name="applicant_email">

                <label for="applicant_phone">Телефон специалиста, ответственного за подачу заявки</label>
                <input type="tel" name="applicant_phone">

                <hr />

                <label for="project_title">Название проекта</label>
                <input type="text" name="project_title">                

                <label for="project_descr">Описание проекта (до 1000 знаков)</label>
                <textarea name="project_descr" id="" cols="30" rows="10"></textarea>

                <label for="project_authors">Автор(-ы) проекта (ФИО либо название компании)</label>
                <input type="text" name="project_authors">

                <label for="project_address">Адрес/местоположение проекта</label>
                <input type="text" name="project_address">

                <label for="project_year">Год создания проекта (для реализованных - год реализации)</label>
                <select name="project_year">
                    <option>2020</option>
                    <option>2019</option>
                    <option>2018</option>
                </select>
                
                <label for="project_logo">Логотип проекта (до 1Mb)</label>
                <input type="file" name="project_logo">

                <label for="project_image1">Изображение проекта 1 (до 3Mb)</label>
                <input type="file" name="image1">

                <label for="project_image2">Изображение проекта 2 (до 3Mb)</label>
                <input type="file" name="image2">

                <label for="project_image3">Изображение проекта 3 (до 3Mb)</label>
                <input type="file" name="image3">

                <label for="project_image4">Изображение проекта 4 (до 3Mb)</label>
                <input type="file" name="image4">

                <label for="project_image5">Изображение проекта 5 (до 3Mb)</label>
                <input type="file" name="image5">

                <label for="project_customer">Информация о заказчиках, подрядчиках и других участниках и партнерах проекта (до 500 знаков)</label>
                <textarea name="project_customer" id="" cols="30" rows="10"></textarea>

                <label for="project_video">Ссылка на видеоролик проекта</label>
                <input type="url" name="project_video">

                <label for="project_gallery">Ссылка на фотогалерею проекта</label>
                <input type="url" name="project_gallery">

                <label for="project_pano">Ссылка на 3D-панораму проекта</label>
                <input type="url" name="project_pano">

                <label for="project_add">Дополнительные ссылки на публикации и справочные материалы о заявителе и проекте (до 500 знаков).</label>
                <textarea name="project_add" id="" cols="30" rows="10"></textarea>
                
                <p><input type="checkbox" name="project_fullsize"><label for="project_fullsize"> Готов(-а) по запросу оргкомитета конкурса предоставить цифровые изображения проекта в высоком разрешении для печати.</label>
                </p>                    

                 <p></p><input type="checkbox" name="project_fullsize"><label for="project_fullsize"> Согласен(-на) на обработку персональных данных.</label>
                </p>
                
                 <input type="submit" class="btn-red" value="Отправить" />   
                

            </form>
        </div>
    </div>
</div>
<!-- endbuild -->




<!-- build:theme -->
<?php get_footer(); // Подключаем футер ?>
<!-- endbuild -->

<!-- build:html -->
@@include('./footer.html')
<!-- endbuild -->