<!-- build:theme --><?php get_header();?>
<!-- endbuild -->
<!-- build:html -->@@include('./header.html')
<!-- endbuild -->


<!-- build:theme -->
<div class="teaser single project">
    <div class="wrapper">
        <?php if ( have_posts() ) while ( have_posts() ) : the_post(); // Начало цикла ?>
        <div class="col12">
            <h1><?php the_title(); // Заголовок ?></h1>
        </div>
        <div class="col8 single__content">
            <?php if( get_field( "изображение_1") ): ?>
            <img src="<?php the_field( 'изображение_1'); ?>" alt="<?php the_title(); ?>" />
            <?php endif; ?>
            <?php the_content(); // Содержимое страницы ?>
            <?php if( get_field( "изображение_2") ): ?>
            <img src="<?php the_field( 'изображение_2'); ?>" alt="<?php the_title(); ?>" />
            <?php endif; ?>
            <?php if( get_field( "изображение_3") ): ?>
            <img src="<?php the_field( 'изображение_3'); ?>" alt="<?php the_title(); ?>" />
            <?php endif; ?>
            <?php if( get_field( "изображение_4") ): ?>
            <img src="<?php the_field( 'изображение_4'); ?>" alt="<?php the_title(); ?>" />
            <?php endif; ?>
            <?php if( get_field( "изображение_5") ): ?>
            <img src="<?php the_field( 'изображение_5'); ?>" alt="<?php the_title(); ?>" />
            <?php endif; ?>
            <?php if( get_field( "видео") ): ?>
            <div class="single__video">
                <h3>Видео:</h3>
                <?php the_field( "видео"); ?>
            </div>
            <?php endif; ?>
        </div>
        <div class="col4 single__details">
            <?php  echo get_the_term_list( $post->ID, 'nominations', '<ul class="meta-terms"><li><b>Проект находится в разделах:</b> </li><li>', '</li><li>', '</li></ul>' ); ?>
            <?php if( get_field( "логотип_заявителя") ): ?>
            <div class="single__details__block">
                <img src="<?php the_field( 'логотип_заявителя'); ?>" alt="Логотип заявителя" />
            </div>
            <?php endif; ?>
            <?php if ((get_field("название_заявителя")) && (get_field("название_заявителя"))) : ?>
            <div class="single__details__block url">
                <b><a href="<?php the_field( "сайт_заявителя"); ?>"><?php the_field( "название_заявителя"); ?></a></b>
            </div>
            <?php else: ?>
            <?php if( get_field( "название_заявителя") ): ?>
            <div class="single__details__block">
                <b><?php the_field( "название_заявителя"); ?></b>
            </div>

            <?php endif; ?>
            <?php if( get_field( "сайт_заявителя") ): ?>
            <?php 
                            $compUrl=get_field( "сайт_заявителя");
                            if (strlen($compUrl)>35) {
                                $compUrl=substr($compUrl,0,35)." (...)";
                            }
                        ?>
            <div class="single__details__block url">
                <a href="<?php the_field( "сайт_заявителя"); ?>"><?php echo $compUrl; ?></a>
            </div>
            <?php endif; ?>
            <?php endif; ?>


            <?php if( get_field( "авторы") ): ?>
            <div class="single__details__block">
                <b>Авторы:</b><br /> <?php the_field( "авторы"); ?>
            </div>

            <?php endif; ?>

            <?php if( get_field( "год_создания") ): ?>
            <div class="single__details__block">
                <b>Год создания:</b> <?php the_field( "год_создания"); ?>
            </div>
            <?php endif; ?>

            <?php if( get_field( "заказчик") ): ?>
            <div class="single__details__block">
                <b>Заказчик:</b><br /> <?php the_field( "заказчик"); ?>
            </div>
            <?php endif; ?>


            <?php if( get_field( "диплом") ): ?>
            <div class="single__details__block">
                <?php $diplom = get_field('диплом'); ?>
                <a href="<?php echo esc_url($diplom['url']); ?>" class="lightbox" data-featherlight="image">
                    <img src="<?php echo esc_url($diplom['sizes']['medium']); ?>" alt="Диплом проекта"
                        style="max-height: none" />
                </a>
            </div>
            <?php endif; ?>


        </div>
        <?php endwhile; // Конец цикла ?>
    </div>
</div>








<!-- endbuild -->


<!-- build:theme -->
<div class="wrapper">
    <div class="navigation">
        <div class="prev">
            <?php previous_post_link( '%link', '<span class="meta-nav">' . _x( '&larr;', 'Previous post link', 'twentyten' ) . '</span> %title' ); // Ссылка на предидущий пост?>
        </div>
        <div class="next">
            <?php next_post_link( '%link', '%title <span class="meta-nav">' . _x( '&rarr;', 'Next post link', 'twentyten' ) . '</span>' ); // Ссылка на следующий пост?>
        </div>

    </div>
</div>
<!-- endbuild -->


<!-- build:theme -->
<?php get_footer(); // Подключаем футер ?>
<!-- endbuild -->

<!-- build:html -->
@@include('./footer.html')
<!-- endbuild -->