<!-- build:theme --><?php get_header();?>
<!-- endbuild -->
<!-- build:html -->@@include('./header.html')
<!-- endbuild -->


<!-- build:theme -->
<div class="teaser project single news">
    <div class="wrapper">
        <?php if ( have_posts() ) while ( have_posts() ) : the_post(); // Начало цикла ?>
        <div class="col12">
            <h1><?php the_title(); // Заголовок ?></h1>
        </div>
        <div class="col8 single__content news_content">
            <div class="single__date">
                <?php the_time('F j, Y'); // Дата создания поста ?>
                <?php the_category(' '); ?>
            </div>
            <?php if ( has_post_thumbnail() ) : ?>
            <?php the_post_thumbnail('large'); ?>
            <?php endif; ?>

            <?php the_content(); // Содержимое страницы ?>

        </div>
        <div class="col4 single__details">
            <b>Все рубрики новостей:</b>
            <ul>
                <?php 
			$categories = get_categories();foreach($categories as $category) {   echo '<li><a href="' . get_category_link($category->term_id) . '">' . $category->name . '</a></li>';}
			?>
            </ul>


        </div>
        <?php endwhile; // Конец цикла ?>
    </div>
</div>








<!-- endbuild -->


<!-- build:theme -->
<div class="wrapper">
    <div class="navigation">
        <div class="prev">
            <?php previous_post_link( '%link', '<span class="meta-nav">' . _x( '&larr;', 'Previous post link', 'twentyten' ) . '</span> %title' ); // Ссылка на предидущий пост?>
        </div>
        <div class="next">
            <?php next_post_link( '%link', '%title <span class="meta-nav">' . _x( '&rarr;', 'Next post link', 'twentyten' ) . '</span>' ); // Ссылка на следующий пост?>
        </div>

    </div>
</div>
<!-- endbuild -->


<!-- build:theme -->
<?php get_footer(); // Подключаем футер ?>
<!-- endbuild -->

<!-- build:html -->
@@include('./footer.html')
<!-- endbuild -->