<?php get_header();?>

<?php 
global $wp_query; //Берем последний пост с нужными условиями и смотрим его год

$args =  array( 'posts_per_page' => 1, 'post_type'=> 'projects');
$query = new WP_Query( $args ); ?>
<?php if ( $query->have_posts() ) : ?>
<?php while ( $query->have_posts() ) : $query->the_post(); 

	$year = the_date('Y', '', '', FALSE);

	?>

<?php endwhile; endif; wp_reset_query();  ?>

<div class="cards" id="workscategory">
	<h2><?php
			$tax = $wp_query->get_queried_object();
			echo $tax->name.' – '.$year;?></h2>

	<?php

global $wp_query;
$args = array_merge( $wp_query->query_vars, array( 'year' => $year ) ); //Выводим посты на последний добавленный год
$query = new WP_Query( $args ); ?>

	<?php if ( $query->have_posts() ) : ?>
	<?php while ( $query->have_posts() ) : $query->the_post(); ?>

	<div class="card"
		style="background-image: url(<?php if( get_field( 'изображение_1') ) the_field( 'изображение_1'); ?>);">
		<a href="<?php the_permalink(); ?>">
			<div class="grad">
				<h3><?php the_title(); ?></h3>
			</div>
		</a>
	</div>
	<?php endwhile; // Конец цикла.
	else: echo '<p style="margin-top: 10vh; min-height: 30vh">Участников в данной категории пока нет</p>'; endif; // Если записей нет - извиняемся ?>






</div>


<?php get_footer(); // Подключаем футер ?>